<!-- Page Content -->

<!-- Blog Entries Column -->

<h1 class="my-4"> {{#if userPosts}}
    {{user.username}}
    {{else}}
    All
    {{/if}} blog posts</h1>


<!-- Blog Post -->
{{# each posts}}
<div class="card mb-4">
    <div class="card-body">
        {{#if ../user}}
        {{{editIcon author ../user _id}}}
        {{/ if}}

        <h2 class="card-title">{{title}}</h2>
        <!-- Example split danger button -->

        <p class="card-text">{{stripTags (truncate content 150)}}</p>
        <a href="/post/{{_id}}" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
        Posted on {{formatDate created_at 'MMMM Do YYYY, h:mm:ss a'}} by
        <a href="/posts/user/{{author._id}}">{{author.username}}</a>
    </div>
</div>

{{ else }}

<p>No post to display</p>

{{/ each}}

<!-- Pagination -->
{{!-- <nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav> --}}